* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: SF-Pro;
    src: url(/assets/FontsFree-Net-SFProText-Regular.ttf);
}

body {
    font-family: SF-Pro;
}

/* Header */

header {
    background-color: rgba(0, 0, 0, 0.8);
    position: sticky;
    top: 0;
}

.mobile-header {
    display: none;
}

.mobile-header nav {
    display: grid;
    grid-template-columns: auto 1fr auto;
    text-align: center;
    align-items: center;
    padding: 5px 10px;
}

.mobile-header img {
    height: 20px;
}

.mobile-header .burger-menu .line {
    width: 20px;
    height: 1px;
    color: #f5f5f7;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

li img {
    width: 14px;
    display: inline-block;
}

ul li {
    list-style-type: none;
    margin: 12px 10px;
}

li a {
    color: #f5f5f7;
    text-decoration: none;
    padding: 15px 12px;
    font-size: 12px;
    font-weight: 100;
}

li a:hover {
    color: white;
    font-weight: 600;
}

/* Main */

p {
    color: #1d1d1f;
}

p a {
    color: #0066cc;
    text-decoration: none;
}

.welcome-bar {
    background-color: #fbfbfb;
    font-size: 14px;
    padding: 14px;
    text-align: center;
}

section {
    height: 680px;
    max-height: 680px;
    text-align: center;
}
section > a {
    text-decoration: none;
    color: unset;
}
.hero-section {
    padding-top: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15px;
}

.iphone13-pro {
    background-image: url(/assets/hero_iphone_13pro.jpg);
}

.iphone13 {
    background-image: url(/assets/hero_iphone_13.jpg);
}

.macbook-pro {
    background-image: url(/assets/hero_macbookpro.jpg);
}

h1 {
    font-size: 56px;
}

.iphone13 h1 {
    color: #f5f5f7;
}

h3 {
    font-size: 28px;
    font-weight: 300;
}

.iphone13 h3 {
    color: #fec2eb;
}

.links {
    margin-top: 1rem;
}

.links a {
    font-size: 21px;
    color: #0066cc;
    text-decoration: none;
    margin-left: 20px;
}

.links a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.links svg {
    height: 16px;
}

.extra-products {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    max-height: fit-content;
    height: fit-content;
}

article {
    padding-top: 30px;
    padding-bottom: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-content: flex-start;
    min-height: 600px;
    justify-content: center;
}
article > a {
    text-decoration: none;
    color: unset;
    display: block;
}
article h4 {
    font-size: 40px;
    font-weight: 900;
}

article h5 {
    font-size: 21px;
    margin: 0.5rem;
    font-weight: 300;
    width: 25ch;
}

article .links a {
    font-size: 17px;
}

article .links svg {
    height: 14px;
}

.home-pod {
    background-image: url(/assets/tile_homepod_mini.jpg);
}

.air-pods {
    background-image: url(/assets/tile_airpods.jpg);
    align-content: end;
}

.apple-watch {
    background-image: url(/assets/tile_watch.jpg);
}

.arcade {
    background-image: url(/assets/tile_arcade.jpg);
}

.apple-card {
    background-image: url(/assets/tile__card.jpg);
}

.extra {
    background-image: url(/assets/tile_charliebrown.jpg);
    align-content: space-between;
    padding-bottom: 60px;
}

.extra h5 {
    font-size: 26px;
    font-variant: small-caps;
    font-weight: 900;
    width: 20ch;
}

.extra h6 {
    font-size: 18px;
    font-variant: small-caps;
    font-weight: 400;
}

.tiny-heading {
    color: #bf4800;
    font-size: 12px;
    font-weight: 700;
}

.small-heading {
    color: #ff0000;
    font-size: 14px;
    font-weight: 700;
}

footer {
    background-color: #f5f5f7;
}

footer .content {
    width: 90%;
    margin: auto;
    max-width: 980px;
    font-size: 12px;
}

footer .content p {
    color: #6e6e73;
    margin: 10px 0;
}

.upper-text {
    padding: 20px 0;
    border-bottom: 1px solid #d2d2d7;
}

.footer-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 10px;
}

.footer-menu ul {
    font-weight: 700;
    margin: 20px 0;
    color: #1d1d1f;
}

.footer-menu ul li {
    margin-left: 0;
    font-weight: 300;
    color: #424245;
}

@media screen and (max-width: 770px) {
    .desktop-header {
        display: none;
    }
    .mobile-header {
        display: block;
    }
    h1 {
        font-size: 40px;
    }
    .extra-products {
        grid-template-columns: 1fr;
    }
    .iphone13-pro {
        background-image: url(/assets/hero_iphone_13pro-mobile.jpg);
    }
    .iphone13 {
        background-image: url(/assets/hero_iphone_13-mobile.jpg);
    }
    .iphone13 {
        display: grid;
        align-content: center;
    }
    .macbook-pro {
        background-image: url(/assets/hero_macbookpro-mobile.jpg);
    }
    .home-pod {
        background-image: url(/assets/tile_homepod_mini-mobile.jpg);
    }
    .air-pods {
        background-image: url(/assets/tile_airpods-mobile.jpg);
        align-content: end;
    }
    .apple-watch {
        background-image: url(/assets/tile_watch-mobile.jpg);
    }
    .arcade {
        background-image: url(/assets/tile_arcade-mobile.jpg);
    }
    .apple-card {
        background-image: url(/assets/tile__card-mobile.jpg);
    }
    .footer-menu {
        grid-template-columns: auto;
        gap: 0;
    }
    .footer-menu ul {
        margin: 0;
        padding: 7px 0;
    }
    .footer-menu ul li {
        display: none;
    }
}
